include<stdio.h>
int main()
{
int n;
printf("%d",n);
scanf("%d",&n);
if(n==0)
printf("the number n is zero");
else if(n>0)
printf("the number is positive");
else 
printf("the number n is negative");
return 0;
}
